td,th{
    border:solid 1px #aaaaaa;
    padding:1px 10px;
    max-width: 25%;
}
table{
        border-collapse:collapse;
        padding: 10px;
}
img{
    height: 150px;
}

.tabletd{
    width:15% ;
}
.index{
    width: 10%;
    max-width:1px;
}
body{
    touch-action: manipulation;
}
